@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #356aff;
  --bg-color: #fff;
  --text-color: #000;
  --light-text-color: #a5a5a5;
  --body-bg-color: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#fakebody{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg-color);

  overflow: auto;
  background: linear-gradient(315deg, rgb(39, 86, 133) 3%, rgb(151, 144, 245) 38%, rgb(67, 120, 211) 68%, rgb(153, 156, 252) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  transition: background-color 0.5s ease;
}
#home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg-color);

  overflow: auto;
  background: linear-gradient(315deg, rgb(39, 86, 133) 3%, rgb(151, 144, 245) 38%, rgb(67, 120, 211) 68%, rgb(153, 156, 252) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  transition: background-color 0.5s ease;

  font-family: "Comfortaa", sans-serif;
  color:#fff;
  font-size: 100px;
}
.background{
  background-color: black;
}
.container {
  width:400px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.014),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.025),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.036),
  100px 100px 80px rgba(0, 0, 0, 0.05)
;
}
.container .heading {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.container .options select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  outline: none;
}
.container .options div:not(:last-child) select {
  margin-bottom: 20px;
}

.container .options p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--light-text-color);
}
.container .line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--light-text-color);
  opacity: 0.5;
  margin: 30px 0;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  height: 60px;
  padding: 20px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
}
.btn ion-icon {
  font-size: 30px;
}
.btn:disabled {
  background-color: var(--light-text-color);
  cursor: not-allowed;
}
.container .record img {
  width: 30px;
  height: 30px;
  display: none;
}
.container .record.recording img {
  display: block;
}
.container .record.recording ion-icon {
  display: none;
}
.container .result {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: gray;
}
.container .result p {
  display: inline;
  margin-left: 3px;
  color: var(--light-text-color);
}
.buttons {
  display: flex;
  gap: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
	background-color: #f2f2f2;
	color: #333;
	transition: background-color 0.5s ease;
}

.dark {
	background-color: #222;
	color: #fff;
	transition: background-color 0.5s ease;
}

#myChart{
  background-color: rgba(255, 255, 255, 1);
  padding:40px;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.014),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.025),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.036),
  100px 100px 80px rgba(0, 0, 0, 0.05)
;
}

.home{
  padding-top:100px;
}


@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}